.result-display h1, .result-display .counter, .result-display .db {
    display: inline;
}

.result-display div {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin: 0px 22px;
}

.result-display h1 {
    position: relative;
    top: 22px;
}

.number {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 14px;
}

.counter {
    font-size: 35px;
    position: relative;
    top: 16px;
}

.db {
    font-size: 35px;
    position: relative;
    top: 16px;
}