h2 {
    margin: 40px 0px;
}

.result-display {
    margin-bottom: 60px;
}

.result-display p {
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 18px;
}

.result-display div {
    display: inline-block;
    height: 85px;
    width: 85px;
}

.inline {
    display: inline;
}

.result-display-header {
    margin-bottom: 30px;
}