body {
    width: 960px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 45px;
}

table {
    width: 1200px;
    text-align: justify;
}

.table-aside {
    width: 320px;
    height: 500px;
    vertical-align: top;
    background-color: rgb(65, 65, 65);
}

table, tr, td {
    border-collapse: collapse;
}

aside {
    width: 320px;
    height: auto;
}

.table-aside li {
    font-size: 15px;
}

.aside-background-container img {
    width: 320px;
    height: 320px;
    object-fit: cover;
}

nav {
    padding: 1px 0px 10px 0px;
    margin-top: -4px;
    color: white;
}

nav ul {
    list-style: none;
    margin-left: -10px;
}

nav ul li {
    margin: 10px 0px;
}

nav hr {
    margin-left: -17px;
    width: 100%;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: lightgray;
}


hr {
    color: rgb(80, 80, 80);
}

.table-main {
    vertical-align: top;
}

main {
    margin: 80px 0px 0px 80px;
}