body {
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
}

table {
    width: 100%;
}

.table-aside {
    width: 33%;
    height: 500px;
    vertical-align: top;
    background-color: rgb(65, 65, 65);
}

table, tr, td {
    border-collapse: collapse;
}

aside {
    width: 100%;
    height: auto;
}

.table-aside li {
    font-size: 15px;
}

.aside-background-container img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

nav {
    padding: 1px 0px 10px 0px;
    margin-top: -4px;
    color: white;
}

nav ul {
    list-style: none;
    margin-left: -10px;
}

nav ul li {
    margin: 10px 20px;
}

nav hr {
    margin-left: -17px;
    width: 100%;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: lightgray;
}


hr {
    color: rgb(80, 80, 80);
}

.table-main {
    vertical-align: top;
}

main {
    margin: 80px 0px 0px 80px;
}

p {
    text-align: justify;
}



.one {
    background-image: url(../resources/img/piros_golyo.png);
    background-size: cover;
}

.two {
    background-image: url(../resources/img/sarga_golyo.png);
    background-size: cover;
}

.three {
    background-image: url(../resources/img/zold_golyo.png);
    background-size: cover;
}

.four {
    background-image: url(../resources/img/kek_golyo.png);
    background-size: cover;
}

.five {
    background-image: url(../resources/img/lila_golyo.png);
    background-size: cover;
}