body
{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#hatterkep img
{
    height: 370px;
    width: 510px;
    float: left;
    
}

#tartalom
{
    text-align: center;

}

#lista li
{
    background-color: rgb(78, 78, 78);
    color: white;
    padding: 20px;
    margin-left: -40px;
    border-top: 1px solid rgb(119, 118, 118);
    
    
}

#menuhasab 
{
    max-width: 700px;
    max-height: 200px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 2px;
    
}